@{
    ViewBag.Title = "Home Page";
}

<p><b>Добро пожаловать в систему регистрации участников мероприятий!</b></p>

<p>Чтобы продолжить работу, @Html.ActionLink("войдите", "Login","Account")  под своей учетной записью или @Html.ActionLink("зарегистрируйтесь", "Register", "Account").</p>